$dark-gray: #2b2b2b;
$color-gray: gray;
$color-white: white;
$light-black: #1d1d1d;
$light-gray: rgb(192, 190, 190);
$light-black-2: #2d2d2d;
$color-gray-2: hsl(0, 0%, 35%);
$color-pink: #fc2547;
$color-orange: #ff5a00;
$color-yellow: yellow;
$color-dark-black: #0d0d0d;
$color-dark-pink: #f22546;
$color-black: black;
$color-light-green: #28b485;
$color-black-light: rgba(32, 32, 32, 0.9);

